body {
    height: 3230px;
    width: 1600px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: right;
}

/* Heading Text */
.header {
    margin: 30px;
}

.heading-text {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;

    /* position: absolute; */
    top: 216px;
    bottom: 364px;
    left: 845px;
    right: 230px;
}

/* Heading Description */
.heading-description {
    height: 78px;
    width: 400px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    /* font-weight: 400; */
    /* line-height: 26px; */

    /* position: absolute; */
    top: 468px;
    bottom: 262px;
    left: 900px;
    right: 206px;
}

/* btn Top */
.btn-top {
    height: 64px;
    width: 160px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background: #F15B22;

    /* position: absolute; */
    top: 578px;
    bottom: 166px;
    left: 1140px;
    right: 300px;
}

/* Second Step */



.img-person {
    /* position: absolute; */
    top: 140px;
    bottom: 1364px;
    left: 241px;
    right: 830px;
}

.first-section {
    position: relative;
    height: 2400px;
    width: 1677px;
}

.second-step {
    display: flex;
}

.firstsection-div {
    /* text-align: left; */
}

.failure {
    /* position: absolute; */
    top: 350px;
    bottom: 1957px;
    left: 900px;
    right: 412px;

    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.firstsection-p {
    /* position: absolute; */
    top: 480px;
    bottom: 1829px;
    left: 900px;
    right: 284px;
}
.firstsection-list {
    /* position: absolute; */
    top: 550px;
    bottom: 1651px;
    left: 865px;
    right: 350px;
}



ul li:before {
    content: '✓';
}